:root {
  --toolbar-foreground: #50505c;
  --toolbar-background: #f0f0f0;
  --code-foreground: #585865;
  --code-background: rgba(204,0,0,0.15);
  --code-border-color: #ff2929;
  --highlight-background: #fafafa;
  --highlight-foreground: #535360;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-gutter-color: #585865;
  --highlight-gutter-bg-color: #f2f2f2;
  --mac-toolbar-background-color: #21252b;
  --shrink-line-foreground: #808091;
  --shrink-line-background-1: rgba(210,210,210,0.9);
  --shrink-line-background-2: rgba(225,225,225,0.6);
}
@media (prefers-color-scheme: light) {
  :root {
    --toolbar-foreground: #50505c;
    --toolbar-background: #f0f0f0;
    --code-foreground: #585865;
    --code-background: rgba(204,0,0,0.15);
    --code-border-color: #ff2929;
    --highlight-background: #fafafa;
    --highlight-foreground: #535360;
    --highlight-comment: #8e908c;
    --highlight-red: #c82829;
    --highlight-orange: #f5871f;
    --highlight-yellow: #eab700;
    --highlight-green: #718c00;
    --highlight-aqua: #3e999f;
    --highlight-blue: #4271ae;
    --highlight-purple: #8959a8;
    --highlight-gutter-color: #585865;
    --highlight-gutter-bg-color: #f2f2f2;
    --mac-toolbar-background-color: #21252b;
    --shrink-line-foreground: #808091;
    --shrink-line-background-1: rgba(210,210,210,0.9);
    --shrink-line-background-2: rgba(225,225,225,0.6);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --toolbar-foreground: #c2c5ca;
    --toolbar-background: #3b3b3b;
    --code-foreground: #c8cbcf;
    --code-background: rgba(204,0,0,0.15);
    --code-border-color: #7a0000;
    --highlight-background: #272727;
    --highlight-foreground: #c3c6cb;
    --highlight-comment: #969896;
    --highlight-red: #c66;
    --highlight-orange: #de935f;
    --highlight-yellow: #f0c674;
    --highlight-green: #b5bd68;
    --highlight-aqua: #8abeb7;
    --highlight-blue: #81a2be;
    --highlight-purple: #b294bb;
    --highlight-gutter-color: #c5c8cd;
    --highlight-gutter-bg-color: #262626;
    --mac-toolbar-background-color: #1f2021;
    --shrink-line-foreground: #828993;
    --shrink-line-background-1: rgba(38,38,38,0.9);
    --shrink-line-background-2: rgba(52,52,52,0.6);
  }
}
.light-mode {
  --toolbar-foreground: #50505c;
  --toolbar-background: #f0f0f0;
  --code-foreground: #585865;
  --code-background: rgba(204,0,0,0.15);
  --code-border-color: #ff2929;
  --highlight-background: #fafafa;
  --highlight-foreground: #535360;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-gutter-color: #585865;
  --highlight-gutter-bg-color: #f2f2f2;
  --mac-toolbar-background-color: #21252b;
  --shrink-line-foreground: #808091;
  --shrink-line-background-1: rgba(210,210,210,0.9);
  --shrink-line-background-2: rgba(225,225,225,0.6);
}
.dark-mode {
  --toolbar-foreground: #c2c5ca;
  --toolbar-background: #3b3b3b;
  --code-foreground: #c8cbcf;
  --code-background: rgba(204,0,0,0.15);
  --code-border-color: #7a0000;
  --highlight-background: #272727;
  --highlight-foreground: #c3c6cb;
  --highlight-comment: #969896;
  --highlight-red: #c66;
  --highlight-orange: #de935f;
  --highlight-yellow: #f0c674;
  --highlight-green: #b5bd68;
  --highlight-aqua: #8abeb7;
  --highlight-blue: #81a2be;
  --highlight-purple: #b294bb;
  --highlight-gutter-color: #c5c8cd;
  --highlight-gutter-bg-color: #262626;
  --mac-toolbar-background-color: #1f2021;
  --shrink-line-foreground: #828993;
  --shrink-line-background-1: rgba(38,38,38,0.9);
  --shrink-line-background-2: rgba(52,52,52,0.6);
}
